<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088355241919-16hnlk76l9b44puuepqucqf6v2di3ar1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088355241919-16hnlk76l9b44puuepqucqf6v2di3ar1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1088355241919-dagvee8gfvbqeqjjeji4va11jpniogev.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwfPNvhH6xGGkLk16_byIvBxjrFq4Nlgo</string>
	<key>GCM_SENDER_ID</key>
	<string>1088355241919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.metx</string>
	<key>PROJECT_ID</key>
	<string>metx-01</string>
	<key>STORAGE_BUCKET</key>
	<string>metx-01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088355241919:ios:b86069b4b113c1734b9b0a</string>
</dict>
</plist>